

html, body{
  margin: 0;
  height: 100%;

}
body {
    
    font-family: 'Marvel', sans-serif;
    font-size: 125%;
  
  /* background gradient at top of page, from http://www.colorzilla.com/gradient-editor/ */
    background: -moz-linear-gradient(top,  #ffa853 0%, #fdf9bd 2%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%white),color-stop(2%,#fdf9bd));
    background: -webkit-linear-gradient(top, #7EC69F 0%,white 2%);
    background: -o-linear-gradient(top, #7EC69F 0%,white 2%);
    background: -ms-linear-gradient(top,  #7EC69F 0%,white 2%);
    background: linear-gradient(top, #7EC69F 0%,white2%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa853', endColorstr='#fdf9bd',GradientType=0 );
    background-repeat: repeat-x;
    background-color:white;/* Old browsers */
  
  }
 
  #nav {
    background-color:#7EC69F;
    position:sticky;

  }
  #nav ul {
    list-style-type: none  }
  #nav ul li {
    font-weight: normal;
    text-transform: uppercase;
    float: right;
  }
  #nav ul a:link {
      color: rgb(39, 77, 56);
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  #nav ul a:visited {
    color:rgb(39, 77, 56);
  }
  #nav ul a:focus {
    color:#DBC661;
  }
  #nav ul a:hover {
    color:rgb(52, 207, 78);
  }
  #nav ul a:active {
    color:#E6E726;
  }
  #nav li a:hover {/* Change the link color to #111 (black) on hover */
    background-color:rgb(91, 241, 124);/*#111;*/
  }
  #banner{
    margin: 0 auto;
  
  max-width:100%;
  }
  #banner img{
  width:100%;
  height:40%;
  max-width:100%;
  }
  /* styles for the products section */

#products {
  background-color:#f2fedc;
  line-height: 1.5em;
  padding:1.5em;
  margin:16px;
  
  border-style:double;
  border-color:rgb(102, 221, 108);
  border-width:4px;
  border-radius:18px;
 
  
  }
#products h2 {
  font-family: 'Fredericka the Great', cursive;
  letter-spacing:2px;
  font-size: 1.8em;
  color: #2cb354;
  text-align: center;
  text-transform: uppercase;

  
  }
#products h3 {
  font-size: 1em;
  text-transform: uppercase;
  color: #F26521;
}

#presentation p{
  max-width:55%;
  text-align:justify;

}
#products img{
  width:30%;
  height:40%;
}
#presentacion img{
  width:100%;
  height:100%;
  max-height:35%;
  text-align: center;
}
#presentacion img+p{
  padding-left:16px;
  text-align: justify;}



  #products h2+p{
    text-align: center;
  }
 #presentacion{
   display:flex;
 }


/* miscellaneous styles */
  
em { 
  color: #F26521;
  }
 article{
    background-color: rgb(245, 247, 147);
    padding:30px;
    text-align:justify;
    line-height:1.2em;
    margin:16px;
    border-style:dashed;
    border-color: rgb(247, 152, 10);
    border-width:3px;
    font-size:90%;
  }
article h2{
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing:4px;
  color:rgb(128, 93, 48);

}
footer{
    background: #9ef793; 
      font-size: 14px;
      padding: 30px 0;
    display: block;
    }
 
footer .wrapper{
  display:flex;
  justify-content: space-around;
  }
  footer .wrapper.footer1{
  width:50%;}
  footer .wrapper.footer2{
  width:50%;
  }